* {
  transition: 0.3s, position 0s, transform 0s, font-size 0s;
}

body {
  margin: 0;
  padding: 0;
  /* margin-bottom: 30vh; */
  box-sizing: border-box;
  background: var(--clr-background);
  color: var(--clr-foreground);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-medium);

  /* Common Variables */

  --border-radius-main: 0.5em;
  --border-radius-small: 0.25em;
  --border-width-thin: 1px;
  --border-width-thick: 2px;
  --gap-small: 0.5em;
  --gap-medium: 1em;
  --gap-large: 2em;
  /* Fonts */
  --font-family-main: "Fira Sans", "sans-serif";
  --font-family-title: "serif";
  --font-size-small: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-huge: 1.75rem;
  --font-weight-normal: 300;
  --font-weight-bold: 500;
  --font-weight-light: 200;
  --font-weight-extra-bold: 700;
  /*  Shadows */
  --shadow-small-size: 0.5px 0.5px 3px;
  --shadow-medium-size: 1px 1px 6px;
  --shadow-large-size: 2px 2px 9px;
  --shadow-color: var(--clr-background-dark-1);
  --shadow-2-color: var(--clr-background-dark-2);
  --shadow-3-color: var(--clr-background-dark-3);
  --shadow-4-color: var(--clr-background-dark-4);
  --shadow-5-color: var(--clr-background-dark-5);
  --shadow-small: var(--shadow-small-size) var(--shadow-color);
  --shadow-medium: var(--shadow-medium-size) var(--shadow-color);
  --shadow-large: var(--shadow-large-size) var(--shadow-color);
  --shadow-small-2: var(--shadow-small-size) var(--shadow-2-color);
  --shadow-medium-2: var(--shadow-medium-size) var(--shadow-2-color);
  --shadow-large-2: var(--shadow-large-size) var(--shadow-2-color);
  --shadow-small-3: var(--shadow-small-size) var(--shadow-3-color);
  --shadow-medium-3: var(--shadow-medium-size) var(--shadow-3-color);
  --shadow-large-3: var(--shadow-large-size) var(--shadow-3-color);
  --shadow-small-4: var(--shadow-small-size) var(--shadow-4-color);
  --shadow-medium-4: var(--shadow-medium-size) var(--shadow-4-color);
  --shadow-large-4: var(--shadow-large-size) var(--shadow-4-color);
  --shadow-small-5: var(--shadow-small-size) var(--shadow-5-color);
  --shadow-medium-5: var(--shadow-medium-size) var(--shadow-5-color);
  --shadow-large-5: var(--shadow-large-size) var(--shadow-5-color);
  /* inset shadows */
  --shadow-inset-small: inset var(--shadow-small-size) var(--shadow-color);
  --shadow-inset-medium: inset var(--shadow-medium-size) var(--shadow-color);
  --shadow-inset-large: inset var(--shadow-large-size) var(--shadow-color);
  --shadow-inset-small-2: inset var(--shadow-small-size) var(--shadow-2-color);
  --shadow-inset-medium-2: inset var(--shadow-medium-size) var(--shadow-2-color);
  --shadow-inset-large-2: inset var(--shadow-large-size) var(--shadow-2-color);
  --shadow-inset-small-3: inset var(--shadow-small-size) var(--shadow-3-color);
  --shadow-inset-medium-3: inset var(--shadow-medium-size) var(--shadow-3-color);
  --shadow-inset-large-3: inset var(--shadow-large-size) var(--shadow-3-color);
  --shadow-inset-small-4: inset var(--shadow-small-size) var(--shadow-4-color);
  --shadow-inset-medium-4: inset var(--shadow-medium-size) var(--shadow-4-color);
  --shadow-inset-large-4: inset var(--shadow-large-size) var(--shadow-4-color);
  --shadow-inset-small-5: inset var(--shadow-small-size) var(--shadow-5-color);
  --shadow-inset-medium-5: inset var(--shadow-medium-size) var(--shadow-5-color);
  --shadow-inset-large-5: inset var(--shadow-large-size) var(--shadow-5-color);

  /* Dimensions */
  /* Heights */
  --base-height: 2.5em;
  --base-height-small: 2em;
  --base-height-large: 3em;
  --button-height: var(--base-height);
  --button-height-small: var(--base-height-small);
  --button-height-large: var(--base-height-large);
  --input-height: var(--base-height);
  --input-height-small: var(--base-height-small);
  --input-height-large: var(--base-height-large);
  /* Widths */
  --base-width: 80%;
  --base-width-small: 50%;
  --base-width-large: 100%;
  --button-width: 160px;
  --button-width-small: 120px;
  --button-width-large: 240px;
  --input-width: var(--base-width);
  --input-width-small: 240px;
  --input-width-large: 480px;


  --ribbon-url: url("ribbon.jpg");
}

body.mobile {
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-huge: 1.5rem;
}

li {
  margin-block-end: 1em;
}

h1 {
  color: var(--clr-accent1);
}

h2 {
  color: var(--clr-background);
  font-weight: var(--font-weight-extra-bold);
}

/* HTML: <div class="ribbon">Your text content</div> */

h2:not(.mobile) {
  --s: 1.8em; /* the ribbon size */
  --d: 0.8em; /* the depth */
  --c: 0.8em; /* the cutout part */

  padding: 0 var(--c) var(--d) calc(var(--s) + 0.5em);
  line-height: 1.8;
  background: conic-gradient(
    at left var(--s) bottom var(--d),
    #0000 25%,
    #0008 0 37.5%,
    #0004 0
  );
  clip-path: polygon(
    calc(100% - var(--c)) 0,
    var(--s) 0,
    var(--s) var(--d),
    0 var(--d),
    var(--c) calc(50% + var(--d) / 2),
    0 100%,
    calc(var(--s) + var(--d)) 100%,
    calc(var(--s) + var(--d)) calc(100% - var(--d)),
    calc(100% - var(--c)) calc(100% - var(--d)),
    100% calc(50% - var(--d) / 2)
  );
  background-color: var(--clr-accent3); /* the main color */
  width: fit-content;
  margin-left: calc(-1 * var(--s));
  padding-inline: calc(var(--s) + 1.5em);
}

/* HTML: <div class="ribbon">Your text content</div> */
h2.mobile {
  --r: 1em;
  border-block: 0.5em solid #0000;
  padding-inline: calc(var(--r) + 0.25em) 0.5em;
  line-height: 1.8;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 calc(100% - 0.25em),
    var(--r) 50%,
    0 0.25em
  );
  background: radial-gradient(0.2em 50% at right, #000a, #0000) border-box,
    var(--clr-accent3) padding-box;
  width: calc(100% - var(--r));
  margin-left: var(--r);
  box-sizing: border-box;
  text-align: right;
  padding-right: 1em;
}

h3 {
  color: var(--clr-foreground);
  font-weight: var(--font-weight-bold);
  padding-inline-start: 0.5em;
}

h3:not(.mobile) {
  --r: 0.8em; /* control the cutout */

  padding-right: calc(var(--r) + 0.25em);
  line-height: 1.8;
  clip-path: polygon(
    -100vw 0,
    100% 0,
    calc(100% - var(--r)) 50%,
    100% 100%,
    -100vw 100%
  );
  border-image: conic-gradient(var(--clr-accent3-4) 0 0) fill 0 //100vw;;
  width: fit-content;
  min-width: 15ch;
}

h3.mobile {
  --r: 0.8em; /* control the cutout */

  border-block: 0.5em solid #0000;
  padding-inline: 0.5em calc(var(--r) + 0.25em);
  line-height: 1.8;
  clip-path: polygon(
    100% 0,
    0 0,
    0 100%,
    100% 100%,
    100% calc(100% - 0.25em),
    calc(100% - var(--r)) 50%,
    100% 0.25em
  );
  background: radial-gradient(0.2em 50% at left, #000a, #0000) border-box,
  var(--clr-accent3-4) padding-box; /* the color  */
  width: fit-content;
  min-width: 15ch;
  padding-left: 0.5em;
  margin-left: 0.25em;
}
