:root {
--clr-foreground: #F7F6EC;
--clr-foreground-1: #F1EFDD;
--clr-foreground-2: #EAE8CE;
--clr-foreground-3: #E4E1BF;
--clr-foreground-4: #D8D3A2;
--clr-foreground-5: #B8AF57;
--clr-foreground-rgb: 247, 246, 236;
--clr-foreground-1-rgb: 241, 239, 221;
--clr-foreground-2-rgb: 234, 232, 206;
--clr-foreground-3-rgb: 228, 225, 191;
--clr-foreground-4-rgb: 216, 211, 162;
--clr-foreground-5-rgb: 184, 175, 87;
--clr-background: #1E1E1E;
--clr-background-1: #888888;
--clr-background-2: #535353;
--clr-background-3: #3E3E3E;
--clr-background-4: #333333;
--clr-background-5: #292929;
--clr-background-rgb: 30, 30, 30;
--clr-background-1-rgb: 136, 136, 136;
--clr-background-2-rgb: 83, 83, 83;
--clr-background-3-rgb: 62, 62, 62;
--clr-background-4-rgb: 51, 51, 51;
--clr-background-5-rgb: 41, 41, 41;
--clr-background-light: #1E1E1E;
--clr-background-light-1: #292929;
--clr-background-light-2: #333333;
--clr-background-light-3: #3E3E3E;
--clr-background-light-4: #535353;
--clr-background-light-5: #888888;
--clr-background-light-rgb: 30, 30, 30;
--clr-background-light-1-rgb: 41, 41, 41;
--clr-background-light-2-rgb: 51, 51, 51;
--clr-background-light-3-rgb: 62, 62, 62;
--clr-background-light-4-rgb: 83, 83, 83;
--clr-background-light-5-rgb: 136, 136, 136;
--clr-background-dark: #1E1E1E;
--clr-background-dark-1: #181818;
--clr-background-dark-2: #141414;
--clr-background-dark-3: #0F0F0F;
--clr-background-dark-4: #0A0A0A;
--clr-background-dark-5: #050505;
--clr-background-dark-rgb: 30, 30, 30;
--clr-background-dark-1-rgb: 24, 24, 24;
--clr-background-dark-2-rgb: 20, 20, 20;
--clr-background-dark-3-rgb: 15, 15, 15;
--clr-background-dark-4-rgb: 10, 10, 10;
--clr-background-dark-5-rgb: 5, 5, 5;
--clr-accent1: #A57FC4;
--clr-accent1-1: #CCB6DD;
--clr-accent1-2: #B89AD1;
--clr-accent1-3: #714595;
--clr-accent1-4: #563471;
--clr-accent1-5: #3A244D;
--clr-accent1-rgb: 165, 127, 196;
--clr-accent1-1-rgb: 204, 182, 221;
--clr-accent1-2-rgb: 184, 154, 209;
--clr-accent1-3-rgb: 113, 69, 149;
--clr-accent1-4-rgb: 86, 52, 113;
--clr-accent1-5-rgb: 58, 36, 77;
--clr-accent2: #E9B32A;
--clr-accent2-1: #E5D796;
--clr-accent2-2: #E5C662;
--clr-accent2-3: #AB8012;
--clr-accent2-4: #84630E;
--clr-accent2-5: #5D460A;
--clr-accent2-rgb: 233, 179, 42;
--clr-accent2-1-rgb: 229, 215, 150;
--clr-accent2-2-rgb: 229, 198, 98;
--clr-accent2-3-rgb: 171, 128, 18;
--clr-accent2-4-rgb: 132, 99, 14;
--clr-accent2-5-rgb: 93, 70, 10;
--clr-accent3: #389AAD;
--clr-accent3-1: #8BCDD9;
--clr-accent3-2: #5BB8CA;
--clr-accent3-3: #276D7A;
--clr-accent3-4: #1F5660;
--clr-accent3-5: #173F47;
--clr-accent3-rgb: 56, 154, 173;
--clr-accent3-1-rgb: 139, 205, 217;
--clr-accent3-2-rgb: 91, 184, 202;
--clr-accent3-3-rgb: 39, 109, 122;
--clr-accent3-4-rgb: 31, 86, 96;
--clr-accent3-5-rgb: 23, 63, 71;
--clr-accent4: #7BB75B;
--clr-accent4-1: #B5D7A4;
--clr-accent4-2: #98C77F;
--clr-accent4-3: #538339;
--clr-accent4-4: #40652C;
--clr-accent4-5: #2D471F;
--clr-accent4-rgb: 123, 183, 91;
--clr-accent4-1-rgb: 181, 215, 164;
--clr-accent4-2-rgb: 152, 199, 127;
--clr-accent4-3-rgb: 83, 131, 57;
--clr-accent4-4-rgb: 64, 101, 44;
--clr-accent4-5-rgb: 45, 71, 31;
--clr-accent5: #CF3F61;
--clr-accent5-1: #E494A7;
--clr-accent5-2: #DA6A84;
--clr-accent5-3: #7E3C45;
--clr-accent5-4: #59373A;
--clr-accent5-5: #392D2D;
--clr-accent5-rgb: 207, 63, 97;
--clr-accent5-1-rgb: 228, 148, 167;
--clr-accent5-2-rgb: 218, 106, 132;
--clr-accent5-3-rgb: 126, 60, 69;
--clr-accent5-4-rgb: 89, 55, 58;
--clr-accent5-5-rgb: 57, 45, 45;
--clr-accent6: #4C9AD4;
--clr-accent6-1: #9BC6E7;
--clr-accent6-2: #73B0DD;
--clr-accent6-3: #266B9F;
--clr-accent6-4: #1D527A;
--clr-accent6-5: #143A55;
--clr-accent6-rgb: 76, 154, 212;
--clr-accent6-1-rgb: 155, 198, 231;
--clr-accent6-2-rgb: 115, 176, 221;
--clr-accent6-3-rgb: 38, 107, 159;
--clr-accent6-4-rgb: 29, 82, 122;
--clr-accent6-5-rgb: 20, 58, 85;
--clr-auto-surface1: #7E5C5C;
--clr-auto-surface1-1: #906F64;
--clr-auto-surface1-2: #876560;
--clr-auto-surface1-3: #483B3B;
--clr-auto-surface1-4: #2E2929;
--clr-auto-surface1-5: #161515;
--clr-auto-surface1-rgb: 126, 92, 92;
--clr-auto-surface1-1-rgb: 144, 111, 100;
--clr-auto-surface1-2-rgb: 135, 101, 96;
--clr-auto-surface1-3-rgb: 72, 59, 59;
--clr-auto-surface1-4-rgb: 46, 41, 41;
--clr-auto-surface1-5-rgb: 22, 21, 21;
--clr-auto-surface2: #5B4A4A;
--clr-auto-surface2-1: #7E645C;
--clr-auto-surface2-2: #6C5653;
--clr-auto-surface2-3: #352E2E;
--clr-auto-surface2-4: #222020;
--clr-auto-surface2-5: #111010;
--clr-auto-surface2-rgb: 91, 74, 74;
--clr-auto-surface2-1-rgb: 126, 100, 92;
--clr-auto-surface2-2-rgb: 108, 86, 83;
--clr-auto-surface2-3-rgb: 53, 46, 46;
--clr-auto-surface2-4-rgb: 34, 32, 32;
--clr-auto-surface2-5-rgb: 17, 16, 16;
--clr-auto-surface3: #3B3535;
--clr-auto-surface3-1: #6C5953;
--clr-auto-surface3-2: #534745;
--clr-auto-surface3-3: #232121;
--clr-auto-surface3-4: #171616;
--clr-auto-surface3-5: #0B0B0B;
--clr-auto-surface3-rgb: 59, 53, 53;
--clr-auto-surface3-1-rgb: 108, 89, 83;
--clr-auto-surface3-2-rgb: 83, 71, 69;
--clr-auto-surface3-3-rgb: 35, 33, 33;
--clr-auto-surface3-4-rgb: 23, 22, 22;
--clr-auto-surface3-5-rgb: 11, 11, 11;
--clr-auto-surface4: #191919;
--clr-auto-surface4-1: #584C48;
--clr-auto-surface4-2: #373332;
--clr-auto-surface4-3: #0F0F0F;
--clr-auto-surface4-4: #0A0A0A;
--clr-auto-surface4-5: #050505;
--clr-auto-surface4-rgb: 25, 25, 25;
--clr-auto-surface4-1-rgb: 88, 76, 72;
--clr-auto-surface4-2-rgb: 55, 51, 50;
--clr-auto-surface4-3-rgb: 15, 15, 15;
--clr-auto-surface4-4-rgb: 10, 10, 10;
--clr-auto-surface4-5-rgb: 5, 5, 5;
--clr-auto-surface5: #141414;
--clr-auto-surface5-1: #564A46;
--clr-auto-surface5-2: #332F2E;
--clr-auto-surface5-3: #0C0C0C;
--clr-auto-surface5-4: #080808;
--clr-auto-surface5-5: #040404;
--clr-auto-surface5-rgb: 20, 20, 20;
--clr-auto-surface5-1-rgb: 86, 74, 70;
--clr-auto-surface5-2-rgb: 51, 47, 46;
--clr-auto-surface5-3-rgb: 12, 12, 12;
--clr-auto-surface5-4-rgb: 8, 8, 8;
--clr-auto-surface5-5-rgb: 4, 4, 4;
--clr-auto-surface6: #0F0F0F;
--clr-auto-surface6-1: #534744;
--clr-auto-surface6-2: #2F2B2B;
--clr-auto-surface6-3: #090909;
--clr-auto-surface6-4: #060606;
--clr-auto-surface6-5: #030303;
--clr-auto-surface6-rgb: 15, 15, 15;
--clr-auto-surface6-1-rgb: 83, 71, 68;
--clr-auto-surface6-2-rgb: 47, 43, 43;
--clr-auto-surface6-3-rgb: 9, 9, 9;
--clr-auto-surface6-4-rgb: 6, 6, 6;
--clr-auto-surface6-5-rgb: 3, 3, 3;
--clr-red: var(--clr-accent5);
--clr-red-1: var(--clr-accent5-1);
--clr-red-2: var(--clr-accent5-2);
--clr-red-3: var(--clr-accent5-3);
--clr-red-4: var(--clr-accent5-4);
--clr-red-5: var(--clr-accent5-5);
--clr-red-rgb: var(--clr-accent5-rgb);
--clr-red-1-rgb: var(--clr-accent5-1-rgb);
--clr-red-2-rgb: var(--clr-accent5-2-rgb);
--clr-red-3-rgb: var(--clr-accent5-3-rgb);
--clr-red-4-rgb: var(--clr-accent5-4-rgb);
--clr-red-5-rgb: var(--clr-accent5-5-rgb);
--clr-orange: var(--clr-accent2);
--clr-orange-1: var(--clr-accent2-1);
--clr-orange-2: var(--clr-accent2-2);
--clr-orange-3: var(--clr-accent2-3);
--clr-orange-4: var(--clr-accent2-4);
--clr-orange-5: var(--clr-accent2-5);
--clr-orange-rgb: var(--clr-accent2-rgb);
--clr-orange-1-rgb: var(--clr-accent2-1-rgb);
--clr-orange-2-rgb: var(--clr-accent2-2-rgb);
--clr-orange-3-rgb: var(--clr-accent2-3-rgb);
--clr-orange-4-rgb: var(--clr-accent2-4-rgb);
--clr-orange-5-rgb: var(--clr-accent2-5-rgb);
--clr-yellow: var(--clr-accent2);
--clr-yellow-1: var(--clr-accent2-1);
--clr-yellow-2: var(--clr-accent2-2);
--clr-yellow-3: var(--clr-accent2-3);
--clr-yellow-4: var(--clr-accent2-4);
--clr-yellow-5: var(--clr-accent2-5);
--clr-yellow-rgb: var(--clr-accent2-rgb);
--clr-yellow-1-rgb: var(--clr-accent2-1-rgb);
--clr-yellow-2-rgb: var(--clr-accent2-2-rgb);
--clr-yellow-3-rgb: var(--clr-accent2-3-rgb);
--clr-yellow-4-rgb: var(--clr-accent2-4-rgb);
--clr-yellow-5-rgb: var(--clr-accent2-5-rgb);
--clr-green: var(--clr-accent4);
--clr-green-1: var(--clr-accent4-1);
--clr-green-2: var(--clr-accent4-2);
--clr-green-3: var(--clr-accent4-3);
--clr-green-4: var(--clr-accent4-4);
--clr-green-5: var(--clr-accent4-5);
--clr-green-rgb: var(--clr-accent4-rgb);
--clr-green-1-rgb: var(--clr-accent4-1-rgb);
--clr-green-2-rgb: var(--clr-accent4-2-rgb);
--clr-green-3-rgb: var(--clr-accent4-3-rgb);
--clr-green-4-rgb: var(--clr-accent4-4-rgb);
--clr-green-5-rgb: var(--clr-accent4-5-rgb);
--clr-cyan: var(--clr-accent3);
--clr-cyan-1: var(--clr-accent3-1);
--clr-cyan-2: var(--clr-accent3-2);
--clr-cyan-3: var(--clr-accent3-3);
--clr-cyan-4: var(--clr-accent3-4);
--clr-cyan-5: var(--clr-accent3-5);
--clr-cyan-rgb: var(--clr-accent3-rgb);
--clr-cyan-1-rgb: var(--clr-accent3-1-rgb);
--clr-cyan-2-rgb: var(--clr-accent3-2-rgb);
--clr-cyan-3-rgb: var(--clr-accent3-3-rgb);
--clr-cyan-4-rgb: var(--clr-accent3-4-rgb);
--clr-cyan-5-rgb: var(--clr-accent3-5-rgb);
--clr-blue: var(--clr-accent6);
--clr-blue-1: var(--clr-accent6-1);
--clr-blue-2: var(--clr-accent6-2);
--clr-blue-3: var(--clr-accent6-3);
--clr-blue-4: var(--clr-accent6-4);
--clr-blue-5: var(--clr-accent6-5);
--clr-blue-rgb: var(--clr-accent6-rgb);
--clr-blue-1-rgb: var(--clr-accent6-1-rgb);
--clr-blue-2-rgb: var(--clr-accent6-2-rgb);
--clr-blue-3-rgb: var(--clr-accent6-3-rgb);
--clr-blue-4-rgb: var(--clr-accent6-4-rgb);
--clr-blue-5-rgb: var(--clr-accent6-5-rgb);
--clr-purple: var(--clr-accent1);
--clr-purple-1: var(--clr-accent1-1);
--clr-purple-2: var(--clr-accent1-2);
--clr-purple-3: var(--clr-accent1-3);
--clr-purple-4: var(--clr-accent1-4);
--clr-purple-5: var(--clr-accent1-5);
--clr-purple-rgb: var(--clr-accent1-rgb);
--clr-purple-1-rgb: var(--clr-accent1-1-rgb);
--clr-purple-2-rgb: var(--clr-accent1-2-rgb);
--clr-purple-3-rgb: var(--clr-accent1-3-rgb);
--clr-purple-4-rgb: var(--clr-accent1-4-rgb);
--clr-purple-5-rgb: var(--clr-accent1-5-rgb);
--clr-magenta: var(--clr-accent1);
--clr-magenta-1: var(--clr-accent1-1);
--clr-magenta-2: var(--clr-accent1-2);
--clr-magenta-3: var(--clr-accent1-3);
--clr-magenta-4: var(--clr-accent1-4);
--clr-magenta-5: var(--clr-accent1-5);
--clr-magenta-rgb: var(--clr-accent1-rgb);
--clr-magenta-1-rgb: var(--clr-accent1-1-rgb);
--clr-magenta-2-rgb: var(--clr-accent1-2-rgb);
--clr-magenta-3-rgb: var(--clr-accent1-3-rgb);
--clr-magenta-4-rgb: var(--clr-accent1-4-rgb);
--clr-magenta-5-rgb: var(--clr-accent1-5-rgb);
--clr-info: var(--clr-accent6);
--clr-info-1: var(--clr-accent6-1);
--clr-info-2: var(--clr-accent6-2);
--clr-info-3: var(--clr-accent6-3);
--clr-info-4: var(--clr-accent6-4);
--clr-info-5: var(--clr-accent6-5);
--clr-info-rgb: var(--clr-accent6-rgb);
--clr-info-1-rgb: var(--clr-accent6-1-rgb);
--clr-info-2-rgb: var(--clr-accent6-2-rgb);
--clr-info-3-rgb: var(--clr-accent6-3-rgb);
--clr-info-4-rgb: var(--clr-accent6-4-rgb);
--clr-info-5-rgb: var(--clr-accent6-5-rgb);
--clr-success: var(--clr-accent4);
--clr-success-1: var(--clr-accent4-1);
--clr-success-2: var(--clr-accent4-2);
--clr-success-3: var(--clr-accent4-3);
--clr-success-4: var(--clr-accent4-4);
--clr-success-5: var(--clr-accent4-5);
--clr-success-rgb: var(--clr-accent4-rgb);
--clr-success-1-rgb: var(--clr-accent4-1-rgb);
--clr-success-2-rgb: var(--clr-accent4-2-rgb);
--clr-success-3-rgb: var(--clr-accent4-3-rgb);
--clr-success-4-rgb: var(--clr-accent4-4-rgb);
--clr-success-5-rgb: var(--clr-accent4-5-rgb);
--clr-warning: var(--clr-accent2);
--clr-warning-1: var(--clr-accent2-1);
--clr-warning-2: var(--clr-accent2-2);
--clr-warning-3: var(--clr-accent2-3);
--clr-warning-4: var(--clr-accent2-4);
--clr-warning-5: var(--clr-accent2-5);
--clr-warning-rgb: var(--clr-accent2-rgb);
--clr-warning-1-rgb: var(--clr-accent2-1-rgb);
--clr-warning-2-rgb: var(--clr-accent2-2-rgb);
--clr-warning-3-rgb: var(--clr-accent2-3-rgb);
--clr-warning-4-rgb: var(--clr-accent2-4-rgb);
--clr-warning-5-rgb: var(--clr-accent2-5-rgb);
--clr-error: var(--clr-accent5);
--clr-error-1: var(--clr-accent5-1);
--clr-error-2: var(--clr-accent5-2);
--clr-error-3: var(--clr-accent5-3);
--clr-error-4: var(--clr-accent5-4);
--clr-error-5: var(--clr-accent5-5);
--clr-error-rgb: var(--clr-accent5-rgb);
--clr-error-1-rgb: var(--clr-accent5-1-rgb);
--clr-error-2-rgb: var(--clr-accent5-2-rgb);
--clr-error-3-rgb: var(--clr-accent5-3-rgb);
--clr-error-4-rgb: var(--clr-accent5-4-rgb);
--clr-error-5-rgb: var(--clr-accent5-5-rgb);
}